<div class="icon-bar four-up">
  <a class="item" href="/">
    <i class="fi-home"></i>
    <label>Home</label>
  </a>
  <a class="item" href="/posts">
    <i class="fi-comment"></i>
    <label>Posts</label>
  </a>
  <a class="item" href="/contact">
    <i class="fi-mail"></i>
    <label>Contact Us</label>
  </a>
  <a class="item">
    <i class="fi-torsos"></i>
    <label>Lambs/Users</label>
  </a>
</div>
