<div class="icon-bar four-up">
  <a class="item">
    <i class="fi-home"></i>
    <label>Home</label>
  </a>
  <a class="item">
    <i class="fi-comment"></i>
    <label>Posts</label>
  </a>
  <a class="item">
    <i class="fi-info"></i>
    <label>Info</label>
  </a>
  <a class="item">
    <i class="fi-torsos"></i>
    <label>Lambs/Users</label>
  </a>
</div>
