<h1>YOUNG LAMBS</h1>
<p>We are proud young lambs</p>


<%= link_to 'Posts', posts_path %>

<%= link_to 'Sign In', new_user_session_path %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
